{% extends 'MapCoreBundle::layoutDatetimepickerjs.html.twig' %}

{% block title %}{{ parent() }} - Project add{% endblock title %}

{% block headline %}{{ domain_breadcrumb('Add project') }}{% endblock headline %}

{% block content %}
<div class="row-fluid">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Main</a></li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        {% include "MapCoreBundle::form.html.twig" %}

    </div>
</div>
<div class="row-fluid">
    <a class="btn btn-default btn-sm" href="{{ path('dm-project_index') }}"
       title="Return to domain">
        {{ icon('chevron-left') }} Return to domain
    </a>
</div>
{% endblock content %}
