<div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
        <span  id="inputName" class="input-xlarge uneditable-input">{{ domain.name }}</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="textDetails">Details</label>
    <div class="controls">
        <textarea id="textDetails" class="input-xxlarge uneditable-textarea" rows="4">{{ domain.details }}</textarea>
    </div>
</div>