{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - User add{% endblock title %}

{% block headline %}Admin > Add user{% endblock headline %}

{% block content %}
<div class="span8">
    <form novalidate="novalidate" class="form-horizontal well" method="post">
        {{ form_widget(form) }}
        <div class="center">
            <button type="submit" class="btn btn-small btn-info" title="Save"><i class="icon-ok icon-white"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
        </div>
    </form>
</div>
<div class="span8">
    <a href="{{ path('user_index') }}" class="btn" title="Return to list">
        <i class="icon-chevron-left"></i>
        Return to list
    </a>
</div>
{% endblock content %}
